*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: #4D6649;
}

    .header .contact {
        font-size: 14pt;
        padding: 7px;
        color: white;
    }

        .header .contact .Cepnumber {
            color: #F4F8DF;
            font-size: 10pt;
            z-index: 1;
        }

        .header .contact .homeNumber {
            font-size: 11pt;
        }

        .header .contact a:hover {
            border-bottom: 1px solid silver;
        }

.LoginRegisterLogo {
    background-color: #e0e2c6;
    height: 55px;
}

    .LoginRegisterLogo .marka {
        font-family: 'Anton', sans-serif;
        font-size: 22pt;
        color: #4D6649;
    }

.Menu {
    width:100%;
    margin-top:-8px;
    border-top:2px solid silver;
    height: 55px;
    background-color: #e0e2c6;
}
    .Menu ul {
        list-style-type: none;
        margin-top: -8px;
    }
        .Menu ul a {
            font-weight:500;
            color: #4D6649;
        }
.Home .title {
    margin-top: -15px;
    color: #4D6649;
}
.card-footer row{
}
.card-footer .titlee{
    height:49px;
}
.card-footer .titlee h6 {
    font-size: 11pt;
}
.card-footer .detail {
    height: 30px;
    font-size: 9pt;
    color:#808080;
}
.card-footer .price {
    height: 30px;
    color:darkorange;
}
.blog .title h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 900;
    color: #4D6649;
    text-align:center;
}
.blog .btnBlog {
    display: block;
    background-color: #61795c;
    color:white;
    font-weight:600;
}
    .blog .btnBlog:hover {
        background-color: #4D6649;
    }
